
    /** header **/
#header-nav {
    background-color: #eb5346;
    border-radius: 0;
    border: 0;
  font-size: 28px;
    font-family: Arial;
    color: white;
}
    #navbar-header{
        width: 100%;
text-align: center;
    }
    #logo-img {
        width: 39px;
        height: 50px;
        margin: 10px 15px 10px 0;
    }
    /*Start first section blocks csrs*/
.blockCar{


}
.s{
    background-color: black;
}
.blockContent{
    width: 350px;
    height: 250px;
    background-color: white;
    margin: 10px;
    padding: 0;
    }
    .blockContent1{

    margin: 10px;
    }
.pic{
    width: 290px;
    height: 155px;
}
.nameClass{
padding: 2px;
text-align: center;
width: 150px;
    background-color: black;
    color: white;
}
.nameClassBtn{
margin-top: 30px;
    bottom: 0;
    text-align: center;
    width: 220px;
    background-color:#eb5346;
    color: white;
}
.buttonPrice{
    border-radius: 0;
}
/*Dropdowns*/


    .line {

        border-left: 1px solid rgba(49, 49, 49, 0.99); /* Параметры линии */
        margin-left: 10px; /* Отступ слева */
        padding-left: 10px; /* Расстояние от линии до текста */

    }
   #mainDropdown{

box-shadow: none;
       /*box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.3);*/
       margin-left: 120px;
width: 200px;
       right: 0;
       text-align: inherit;
       font-size: 12px;
   }

#dropdown1{

    padding-left: 25px;
    margin-left: -1px;
    font-size: 10px;
    box-shadow: none;
    /*box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.3);*/
}
.point{


    background-color: yellow;
    margin-right: 50px;
}


    .currentCarIndecator{
        display: none;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid red;
    }
    .calculBlock{
       width: 100%;
    }
    .butMenu{
        margin-bottom: 5px;
    }
    .currentCarIndecator{
        margin: auto;
    }
   /*.notice{*/
       /*z-index: 2;*/
        /*padding: 0;*/
        /*float: left;*/
        /*margin-right: 46px;*/
        /*top: 0;*/
        /*height: 29px;*/
        /*width: 191px;*/
        /*background: #0c1c97;*/
        /*border-top-left-radius: 100px 10px;*/
        /*border-bottom-left-radius: 100px 10px;*/
    /*}*/
    /* end Dropdowns*/
